################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckoutKata/obj
/.vs
/CheckoutKata.Test/obj
