################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckoutKata/obj
/.vs
/CheckoutKata.Test/obj
/CheckoutKata/bin/Debug/netcoreapp3.1
/CheckoutKata.Test/bin/Debug/netcoreapp3.1
